@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-image: url('/background.jpg'); /* Adjust the filename */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  @keyframes slideInRight {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  .animate-slideInRight {
    animation: slideInRight 0.4s ease-out forwards;
  }
  